<div class="container">
  <h1 class="myclass">
    {{title}}
  </h1>

  <div class="card">
    <div class="card-header">
      Section - 1
    </div>
    <div class="card-block">
      <fa-other></fa-other>
      <fa-another>
        <div>
          <h1>Hello!</h1>
          <p>World!</p>
        </div>
      </fa-another>

      <fa-another>
        <div>
          <p>something else!</p>
        </div>
      </fa-another>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Section - 2
    </div>
    <div class="card-block">
      <fa-databinding></fa-databinding>
    </div>
  </div>
</div>